@model SocialNetworkOKO.Models.UserViewModel

@{
    ViewData["Title"] = "Профиль";
}
<head>
    <link rel="stylesheet" href="~/css/Profile.css" />
</head>

<body>
    <div class="container_us">
        <div class="align-lft">
            <div class="img_us">
                <img src= @Model.User.Image/>
            </div>
            <a asp-controller="AccountManager" asp-action="Update" class="btn btn-primary">Редактировать</a>
        </div>
        <div class="align-rt">
            <h2>@Model.User.GetFullName()</h2>
            <h5>
                Дата рождения: @Model.User.BirthDate.ToShortDateString()<br />
                Cтатус: @Model.User.Status<br />
                Информация: @Model.User.About
            </h5>

            @foreach (var user in @Model.Friends)
            {
                <div>
                    <img src="@user.Image" />
                    <label>@user.GetFullName()</label>
                    <form asp-controller="AccountManager" asp-action="DeleteFriend" asp-route-id="@user.Id" method="post">
                        <button type="submit" class="btn btn-sm btn-primary">
                            Удалить из друзей
                        </button>
                    </form>
                    <div class="mrgn center-align">
                        <form asp-controller="AccountManager" asp-action="Chat" asp-route-id="@user.Id" method="post">
                            <button type="submit" class="btn btn-primary min-width-but">
                                Чат
                            </button>
                        </form>
                    </div>
                </div>
            }
        </div>
    </div>
</body>